parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Auth\\\\Guard\\:\\:logout\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/AuthenticatedSessionController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$password\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/ConfirmablePasswordController.php

		-
			message: "#^Cannot access property \\$email on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/ConfirmablePasswordController.php

		-
			message: "#^Cannot call method hasVerifiedEmail\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationNotificationController.php

		-
			message: "#^Cannot call method sendEmailVerificationNotification\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationNotificationController.php

		-
			message: "#^Cannot call method hasVerifiedEmail\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationPromptController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$email\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$password\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: "#^Parameter \\#1 \\$key of function __ expects string\\|null, mixed given\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: "#^Parameter \\#1 \\$key of function trans expects string\\|null, mixed given\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: "#^Cannot call method update\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/PasswordController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$email\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$firstname\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$lastname\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$middlename\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$password\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$prefixname\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$suffixname\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\User\\:\\:create\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Cannot call method hasVerifiedEmail\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: "#^Cannot call method markEmailAsVerified\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: "#^Parameter \\#1 \\$user of class Illuminate\\\\Auth\\\\Events\\\\Verified constructor expects Illuminate\\\\Contracts\\\\Auth\\\\MustVerifyEmail, mixed given\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: "#^Cannot access property \\$email_verified_at on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: "#^Cannot call method delete\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: "#^Cannot call method fill\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: "#^Cannot call method isDirty\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: "#^Cannot call method save\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: "#^Cannot access property \\$id on mixed\\.$#"
			count: 1
			path: app/Http/Requests/ProfileUpdateRequest.php
