parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Auth\\\\Guard\\:\\:logout\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/AuthenticatedSessionController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$password\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/ConfirmablePasswordController.php

		-
			message: "#^Cannot access property \\$email on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/ConfirmablePasswordController.php

		-
			message: "#^Cannot call method hasVerifiedEmail\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationNotificationController.php

		-
			message: "#^Cannot call method sendEmailVerificationNotification\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationNotificationController.php

		-
			message: "#^Cannot call method hasVerifiedEmail\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationPromptController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$email\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$password\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: "#^Parameter \\#1 \\$key of function __ expects string\\|null, mixed given\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: "#^Parameter \\#1 \\$key of function trans expects string\\|null, mixed given\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: "#^Cannot call method update\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/PasswordController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$email\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$firstname\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$lastname\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$middlename\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$password\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$prefixname\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$suffixname\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\User\\:\\:create\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: "#^Cannot call method hasVerifiedEmail\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: "#^Cannot call method markEmailAsVerified\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: "#^Parameter \\#1 \\$user of class Illuminate\\\\Auth\\\\Events\\\\Verified constructor expects Illuminate\\\\Contracts\\\\Auth\\\\MustVerifyEmail, mixed given\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: "#^Cannot access property \\$email_verified_at on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: "#^Cannot call method delete\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: "#^Cannot call method fill\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: "#^Cannot call method isDirty\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: "#^Cannot call method only\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: "#^Cannot call method save\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\User\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<App\\\\Models\\\\User\\>\\:\\:search\\(\\)\\.$#"
			count: 2
			path: app/Http/Controllers/UserController.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\User\\:\\:create\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: "#^Cannot access offset 'type' on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: "#^Cannot access property \\$id on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: "#^Parameter \\#1 \\$attributes of method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:update\\(\\) expects array\\<string, mixed\\>, mixed given\\.$#"
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: "#^Parameter \\#2 \\$array of function array_key_exists expects array, mixed given\\.$#"
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: "#^Cannot access property \\$id on mixed\\.$#"
			count: 1
			path: app/Http/Requests/ProfileUpdateRequest.php

		-
			message: "#^Method App\\\\Http\\\\Requests\\\\StoreUserRequest\\:\\:messages\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Requests/StoreUserRequest.php

		-
			message: "#^Method App\\\\Http\\\\Requests\\\\StoreUserRequest\\:\\:rules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Requests/StoreUserRequest.php

		-
			message: "#^Method App\\\\Http\\\\Requests\\\\UpdateUserRequest\\:\\:messages\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Requests/UpdateUserRequest.php

		-
			message: "#^Method App\\\\Http\\\\Requests\\\\UpdateUserRequest\\:\\:rules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Requests/UpdateUserRequest.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\DetailResource\\:\\:\\$created_at\\.$#"
			count: 1
			path: app/Http/Resources/DetailResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\DetailResource\\:\\:\\$icon\\.$#"
			count: 1
			path: app/Http/Resources/DetailResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\DetailResource\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Resources/DetailResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\DetailResource\\:\\:\\$key\\.$#"
			count: 1
			path: app/Http/Resources/DetailResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\DetailResource\\:\\:\\$status\\.$#"
			count: 1
			path: app/Http/Resources/DetailResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\DetailResource\\:\\:\\$type\\.$#"
			count: 1
			path: app/Http/Resources/DetailResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\DetailResource\\:\\:\\$updated_at\\.$#"
			count: 1
			path: app/Http/Resources/DetailResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\DetailResource\\:\\:\\$user_id\\.$#"
			count: 1
			path: app/Http/Resources/DetailResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\DetailResource\\:\\:\\$value\\.$#"
			count: 1
			path: app/Http/Resources/DetailResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$created_at\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$deleted_at\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$details\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$email\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$email_verified_at\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$firstname\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$full_name\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$gender\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$lastname\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$middle_initial\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$middlename\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$photo\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$prefixname\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$suffixname\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$type\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\UserResource\\:\\:\\$updated_at\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Class App\\\\Models\\\\Detail uses generic trait Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\HasFactory but does not specify its types\\: TFactory$#"
			count: 1
			path: app/Models/Detail.php

		-
			message: "#^Method App\\\\Models\\\\Detail\\:\\:user\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Models/Detail.php

		-
			message: "#^PHPDoc type array\\<string\\> of property App\\\\Models\\\\Detail\\:\\:\\$fillable is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$fillable\\.$#"
			count: 1
			path: app/Models/Detail.php

		-
			message: "#^Method App\\\\Models\\\\User\\:\\:details\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\<App\\\\Models\\\\Detail, App\\\\Models\\\\User\\> but returns Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\<App\\\\Models\\\\Detail, \\$this\\(App\\\\Models\\\\User\\)\\>\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Method App\\\\Models\\\\User\\:\\:scopeSearch\\(\\) has parameter \\$query with generic class Illuminate\\\\Database\\\\Eloquent\\\\Builder but does not specify its types\\: TModel$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Method App\\\\Models\\\\User\\:\\:scopeSearch\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Builder does not specify its types\\: TModel$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Method App\\\\Models\\\\User\\:\\:scopeSearch\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Builder but returns Illuminate\\\\Database\\\\Query\\\\Builder\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Method App\\\\Models\\\\User\\:\\:scopeUnverified\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<App\\\\Models\\\\User\\> but returns Illuminate\\\\Database\\\\Query\\\\Builder\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Method App\\\\Models\\\\User\\:\\:scopeVerified\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<App\\\\Models\\\\User\\> but returns Illuminate\\\\Database\\\\Query\\\\Builder\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Method App\\\\Models\\\\User\\:\\:scopeWithPhotos\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<App\\\\Models\\\\User\\> but returns Illuminate\\\\Database\\\\Query\\\\Builder\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Method App\\\\Models\\\\User\\:\\:scopeWithPrefix\\(\\) has parameter \\$prefix with no type specified\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\<App\\\\Models\\\\Detail, App\\\\Models\\\\User\\>\\:\\:restore\\(\\)\\.$#"
			count: 1
			path: app/Observers/UserObserver.php
